body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

#container{
    position: relative;
    height: 95vh;
    width: 84.5%;
    left: 1.5%;
    margin-top: 20px;
    background-color: #366C89;
    background-repeat: no-repeat;
    overflow: hidden;
}
.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 100px;
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
.car{
    position: absolute;
    height: 50px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px black;
    margin-top: 1%;
}

#name{
    position: absolute;
    margin-top: 10%;
    margin-left: 87%;
}
#displayname{
    position: absolute;
    margin-top: 10%;
    margin-left: 3%;
    color:white;
    font-family: papyrus;
    font-size:20px;
}

#arrow{
    display:none;
    bottom: 57.5%;
    left: 150px;
    position: absolute;
    height: 90px;
    width: 90px; 
}
#archer{
    position: absolute; 
    bottom: 35%;
    left: 5px;
}
#shadow{
    position: absolute; 
    bottom: 35%;
    left: 5px;
}
#shoot:hover{
    cursor:pointer;
}

.mouth{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    top: 45%;
    border-radius: 0px 0px 5px 5px;
    background-color: #484848;
}

.eye_l{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 10%;
    top: 8%;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
}
.eye_r{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 70%;
    top: 8%;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
}
.ear_l{
    position: absolute;
    height: 20%;
    width: 30%;
    background-color: black;
    top: 20%;
    left: -30%;
    border-radius: 5px 0px 0px 5px;
}
.ear_r{
    position: absolute;
    height: 20%;
    width: 30%;
    background-color: black;
    top: 20%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}

#car_1{
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1000; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 6.5s;
    animation-iteration-count: 1000;
}

@-webkit-keyframes example {
    0%   {background-color:red; left:250px; top:0px;}
    25%  {background-color:yellow; left:250px; top:600px;}
    50%  {background-color:blue; left:250px; top:0px;}
    75%  {background-color:green; left:250px; top:600px;}
    100% {background-color:red; left:250px; top:0px;}
}


@keyframes example {
    0%   {background-color:red; left:250px; top:0px;}
    25%  {background-color:yellow; left:250px; top:600px;}
    50%  {background-color:blue; left:250px; top:0px;}
    75%  {background-color:green; left:250px; top:600px;}
    100% {background-color:red; left:250px; top:0px;}
}

#car_2{
 background-color: red;
    -webkit-animation-name: ex; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1000; /* Safari 4.0 - 8.0 */
    animation-name: ex;
    animation-duration: 6s;
    animation-iteration-count: 1000;
}

@-webkit-keyframes ex {
    0%   {background-color:red; left:450px; top:0px;}
    25%  {background-color:yellow; left:450px; top:600px;}
    50%  {background-color:blue; left:450px; top:0px;}
    75%  {background-color:green; left:450px; top:600px;}
    100% {background-color:red; left:450px; top:0px;}
}


@keyframes ex {
    0%   {background-color:red; left:450px; top:0px;}
    25%  {background-color:yellow; left:450px; top:600px;}
    50%  {background-color:blue; left:450px; top:0px;}
    75%  {background-color:green; left:450px; top:600px;}
    100% {background-color:red; left:450px; top:0px;}
}

#car_3{
 background-color: red;
    -webkit-animation-name: gx; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 7.1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1000; /* Safari 4.0 - 8.0 */
    animation-name: gx;
    animation-duration: 7.1s;
    animation-iteration-count: 1000;
}

@-webkit-keyframes gx {
    0%   {background-color:red; left:650px; top:0px;}
    25%  {background-color:yellow; left:650px; top:600px;}
    50%  {background-color:blue; left:650px; top:0px;}
    75%  {background-color:green; left:650px; top:600px;}
    100% {background-color:red; left:650px; top:0px;}
}


@keyframes gx {
    0%   {background-color:red; left:650px; top:0px;}
    25%  {background-color:yellow; left:650px; top:600px;}
    50%  {background-color:blue; left:650px; top:0px;}
    75%  {background-color:green; left:650px; top:600px;}
    100% {background-color:red; left:650px; top:0px;}
}
#car_4{
    background-color: red;
    -webkit-animation-name: e; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6.7s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1000; /* Safari 4.0 - 8.0 */
    animation-name: e;
    animation-duration: 6.7s;
    animation-iteration-count: 1000;
}

@-webkit-keyframes e {
    0%   {background-color:red; left:850px; top:0px;}
    25%  {background-color:yellow; left:850px; top:600px;}
    50%  {background-color:blue; left:850px; top:0px;}
    75%  {background-color:green; left:850px; top:600px;}
    100% {background-color:red; left:850px; top:0px;}
}


@keyframes e {
    0%   {background-color:red; left:850px; top:0px;}
    25%  {background-color:yellow; left:850px; top:600px;}
    50%  {background-color:blue; left:850px; top:0px;}
    75%  {background-color:green; left:850px; top:600px;}
    100% {background-color:red; left:850px; top:0px;}
}
#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: #8a64ff;
    font-size: 30px;
    margin-top: 20%;
}
#restart_div :hover {
    cursor:pointer;
}
.small_text{
    font-size: 15px;
}
#score_div{
    position: absolute;
    margin-top: 0%;
    margin-left: 87%;
    font-size: 25px;
    background-color: red;
    color: white;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}
#help{
	text-align: center;
}